body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

header {
    display: flex;
    flex: 1 1 auto;
    background-color: rgb(46, 66, 173);
    align-items: center;
} 

ul.toplinks li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

ul.toplinks a {
    color: white;
    text-decoration: none;
}


.push {
    margin-left: auto;
    margin-right: auto;
}

.myname {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-family: system-ui, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    padding-left: 10px;
}

.headerconnector {
    display: flex;
    flex: 1;
    background-color: rgb(46, 66, 173);
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.lsidetext{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    margin-left: 100px;
    padding-right: 75px;
}
.bigltext {
    font-weight: 500;
    font-size: x-large;
}
.lilltext {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
    background-color: rgb(109, 154, 221);
    color: white;
    width: 80px;
    padding: 5px;
    border-radius: 12px;
}
.pic {
    margin-right: 100px
}


footer {
    background-color: rgb(46, 66, 173);
    color: white;
    padding: 10px;
    text-align: center;
}

.maincontent {
    min-height: 100vh;
}

.boxcont{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    padding: 25px;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.box img {
    height: 75px;
    width: 75px;
}